.DS_Store

.env

__pycache__
.pytest_cache

*credentials.json

#model/dictionaries/dic.txt
#model/dictionaries/dic_s.txt
#model/dictionaries/*.txt
model/weights/final_weights.hdf5
model/weights/*.hdf5

# plots/*
